.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "search events"
  "rsvp rsvp"
  ;
  height: 100vh;
  grid-template-rows: 50vh;
  background-color: white;
  background-color: #EDEDED;

}



button {
background-color: white;
border: 1px solid #00B4B3;
border-radius: 1px;
color: #46A8A7;
padding: .25rem;
font-weight: bold;
}

button:disabled {
  opacity: 0.5;
}

input {
  border-bottom: 1px solid white;
}

.search-pannel {
  grid-area: search;
}


.events-pannel {
  grid-area: events;
  display: grid;
  
}
.events {
  display: grid;
  grid-gap: 1rem;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: scroll;
  height: 100%;
  padding-right: 1rem;

  
}

#leaflet-map { 
  max-width: 100vw;
  max-height: 100vh;
  height: 25rem ;
  width: 35rem;
}

.map-fullscreen-container{
  position: fixed;
  margin-top: -8.5rem;
  padding: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  justify-self: center;
  background-color: rgba(62, 62, 62, 0.653);
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.map-fullscreen-container button {
  justify-self: flex-end;
}

.event-card {
  background-color: white;
  display: grid;
}

.rsvp-card {
  background-color: white;
  display: grid;
  grid-template-columns: 4fr repeat(5, 1fr);
  align-items: center;
  height: 2.5rem;
  margin-top: 1rem;
}

.rsvp-card button {
padding: .1rem;
width: 5rem;
}

.rsvpd-events-pannel {
 grid-area: rsvp;
 display: flex;
 flex-direction: column;
 grid-template-rows: 3rem auto;
 height: 100%;
 width: 100%;
 justify-self: center;
 overflow-x: scroll;
 padding: 0 1rem;
}
.rsvpd-events {
  height: 100%;
  width: 100%;
  justify-self: center;
  overflow-x: scroll; 
  display: flex;
  flex-direction: column;
}





h4 {
  font-size: 2rem;
}
a {
  font-weight: bold;
  color: #00B4B3;
}

.search-bar {
  width: 100%;
  height: 4rem;
  background-color: #FFFFFF;
  display: grid;
  z-index: 2;
}
.search-bar input {
  border: 1px solid #CDCDCD;
  width: 90%;
  height: 60%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
}

.search-pannel {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.artist-card {

  width: 90%;
  background-color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}
.artist-card img {
  width: 100%;
  height: auto;
}


.button-appears-as-link {
  border: none;
}
