.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "nav nav"
  "search events"
  "rsvp rsvp"
  ;
  height: 100vh;
  grid-template-rows: 8vh 50vh 40vh;
  background-color: white;
  background-color: #EDEDED;
  grid-row-gap: 1vh;
}



button {
background-color: white;
border: 1px solid #00B4B3;
border-radius: 1px;
color: #46A8A7;
padding: .25rem;
font-weight: bold;
}

button:disabled {
  opacity: 0.5;
}

input {
  border-bottom: 1px solid white;
}

.search-pannel {
  grid-area: search;
  display: grid;
  justify-items: right;

}


.events-pannel {
  grid-area: events;
  width: 100%;
  height: 100%;
  display: grid;


  
}
.events {
width: 95%;
height: 100%;
display: flex;
flex-direction: column;
overflow: scroll;
justify-self: center;

  
}

#leaflet-map { 

  height: 20rem ;
  width: 30rem;
  max-width: 95vw;

}

.map-fullscreen-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(62, 62, 62, 0.653);
  justify-self: center;
  display: grid;

}
.map-inner-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  align-self: center;
  max-width: 95vw;
  width: 100%;



}

.map-inner-container button {
  justify-self: flex-end;
  height: 3rem;

}

.event-card {
  background-color: white;
  display: grid;
}




.rsvp-card button {
padding: .1rem;
width: 5rem;
}

.rsvpd-events-pannel {
 grid-area: rsvp;
 display: grid;
 grid-template-rows: 2rem;
 width: 100%;
 height: 100%;
}

.rsvpd-events {
  width: 98%;
  justify-self: center;
  display: grid;
  grid-gap: 1rem;
  
}
.rsvp-card {
  background-color: white;
  display: grid;
  grid-template-columns: 4fr repeat(5, 1fr);
  padding: .5rem;



}






h4 {
  font-size: 2rem;
}
a {
  font-weight: bold;
  color: #00B4B3;
}

.search-bar {
  grid-area: nav;
  width: 100%;
background-color: white;
  display: grid;
 
}
.search-bar input {
  border: 1px solid #CDCDCD;
  width: 90%;
  height: 60%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
}

.search-pannel {
  display: grid;
  grid-template-columns: 1fr;


  width: 100%;
  height: 100%;
}

.search-results {
  display:grid;
  width: 95%;
  height: 100%;


}

.artist-card {

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  max-width: 24rem;
}

.artist-card-body {
  width: 100%;
  height: 100%;
  max-width: 20rem;


  

  
}

.artist-card img {
  height: 100%;
  width: auto;





}


.button-appears-as-link {
  border: none;
}

@media screen and (max-width: 45rem){
    .App {
      grid-template-areas:
  "nav nav"
  "search search"
  "events events"
  "rsvp rsvp"
  ;
  height: auto;

  grid-gap: 1rem;
    }
    .artist-card {

      width: 100%;
      justify-self: center;
    }
    .search-results {

      justify-self: center;
    }

    .rsvpd-events{
      height: auto;
      border: 1px solid red;
    }


    .rsvp-card{
      grid-template-columns: 1fr ;



    }

    
}